$font-primary: 'Roboto', sans-serif;

$big-font-size: 2rem; 
$medium-font-size: 1.5rem; 
$normal-font-size: 1rem; 
$small-font-size: .5rem; 

$background-primary-color: #f5f6fa;
$background-second-color: #182C61;
$background-button-color: #44bd32;
$background-hover-color: #4cd137;
$font-primary-color: #FFF;

$mobile: 767px;
$tablet: 1023px;